.route_status {
    text-align: center;
    margin-top: 1em;
    font-size: 3rem;
    flex: 75%;
}

.route_status_header {
    display: flex;
}

.route_status_header button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    background-color: #e7e7e7;
    color: black;
    flex: 25%;
}

.route_status_header button a {
    color: black;
    text-decoration: none;
}

.route_status_header button a:visited {
    color: black;
    text-decoration: none;
}

div .route_long_description {
    font-family: Helvetica;
    font-size: 3rem;
    margin: .5em;
}

.route_status_header_error {
    display: flex;
    flex-wrap: wrap;
}

.route_status_header_error h1 {
    flex:75%;
}

.route_status_header_error button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    background-color: #e7e7e7;
    color: black;
    flex: 25%;
}

.route_status_header_error > button > a {
    color: black;
    text-decoration: none;
}

.route_status_header_error > button > a:visited {
    color: black;
    text-decoration: none;
}
